# CMake
.cmake
CMakeCache.txt
CMakeFiles
Makefile
Testing
build
cmake-build-debug
cmake_install.cmake
*_autogen
*.a
*.cmake

# IDE trash
.idea
*.cbp

# Editor stuff
*.swp
*~

# Executable
pic_aem_projekt

# Savefiles
/saves
